#inputFiltroLista {
    width: 900px;
    position: relative;
    left: 70px;
    bottom: 32px;
}

#divFiltro {
    top: 5px;
    position: relative;
}

#btnNovo {
    left: 1000px;
    position: relative;
    bottom: 68px;
}

#tableStriped {
    position: relative;
    bottom: 75px;
}

.divBtnNovo {
    position: relative;
    bottom: 20px;
}